<app-side-panel
  [data]="panelData()"
  (closed)="closed.emit()">

  <mat-tab-group class="tabs" animationDuration="200ms">
    <mat-tab>
      <ng-template mat-tab-label>Overview</ng-template>
      <ng-template matTabContent>
        <app-overview [data]="overviewData()"></app-overview>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>Usage Analytics</ng-template>
      <ng-template matTabContent>
        <app-usage-analytics [report]="report()"></app-usage-analytics>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</app-side-panel>
